body, #mainWrapper {
	height: 70%;
	background-color: rgb(245, 245, 245);
}

body, .form-control {
	font-size: 12px !important;
}

.floatRight {
	float: right;
	margin-right: 18px;
}

.has-error {
	color: red;
}

.formcontainer {
	background-color: #d9e7e7;
	padding: 20px;
}

.list-group-item.fs-mdlg {
	font-size: 16px;
}

.container-p-15 {
	padding: 15px;
}

.title-logout {
	padding: 1.5rem;
	padding-top: 0px;
	padding-bottom: 0px;
	justify-content: space-between;
}

.tablecontainer {
	padding-left: 20px;
}

.generic-container {
	width: 80%;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #EAE7E7;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 0 30px black;
}

.g-container {
	width: 80%;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #EAE7E7;
	border: 1px solid #ddd;
	border-radius: 4px;
	/* box-shadow: 0 0 30px black; */
}

.custom-width {
	width: 80px !important;
}

.username.ng-valid {
	background-color: lightgreen;
}

.username.ng-dirty.ng-invalid-required {
	background-color: red;
}

.username.ng-dirty.ng-invalid-min {
	background-color: yellow;
}

.email.ng-valid {
	background-color: lightgreen;
}

.email.ng-dirty.ng-invalid-required {
	background-color: red;
}