<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to the CSC326 CoffeeMaker</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/bootstrap-grid.css" />
<link rel="stylesheet" href="css/app.css" />

<!-- <link rel="stylesheet" href="../static/css/bootstrap.css" />
<link rel="stylesheet" href="../static/css/bootstrap-grid.css" />
<link rel="stylesheet" href="../static/css/app.css" /> -->
</head>
<body>
	<h1 class="p-4 text-center">Coffee Maker</h1>
	<div class="grid gap-3 text-center">
		<div class="p-2">
			<a href="stafflogin.html">
				<button type="button" class="btn btn-outline-secondary">Staff Login</button>
			</a>
		</div>
		<div class="p-2">
			<a href="customerlogin.html">
				<button type="button" class="btn btn-outline-secondary">Customer Login</button>
			</a>
			
		</div>
		<div class="p-2">
			<a href="guestindex.html">
				<button type="button" class="btn btn-outline-secondary">Continue as Guest</button>
			</a>
		</div>
		<div class="p-2">
			<label>Don't have an account?</label>
			<br>
			<a href="createaccount.html">
				<button type="button" class="btn btn-secondary">Create Account</button>
			</a>
		</div>	
		<br></br>
		<footer class="py-3">
			<ul class="nav justify-content-center border-bottom pb-3">
				<li class="nav-item text-center"><i><a href="privacypolicyhome.html" class="nav-link px-2 text-body-secondary">
					Privacy Policy
				</a></i></li>
				<!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li> -->
				<!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li> -->
				<!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li> -->
			</ul>
			<p class="text-center text-body-secondary">© 2024 CoffeeMakers, Inc</p>
		</footer>
	</div>

</body>
</html>

