<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Privacy Policy</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/bootstrap-grid.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<body>
	<h1 align="center">Coffee Maker Privacy Policy</h1>
	<font size ="+1">Our system collects and records certain information provided by our users. This policy clearly outlines what information we do and do not collect, as well as how you can view this information and control what information is collected about you when using our product.</font>
	<h2>Information we collect</h2>
	<h3>Customer information we collect</h3>
	<ul>
		<li>Provided user name when logged into your account</li>
		<li>Coffee orders associated with your account name</li>
	</ul>
	
	<h3>Staff information we collect</h3>
	<ul>
		<li>Staff member name</li>
		<li>Coffee orders fulfilled by each staff member</li>
	</ul>
	
	<font size ="+0">We collect the above information in order to provide you as the customer with personalized service and an easy way to access your order history if you want to reorder a beverage that you previously enjoyed.  This information also enables management to track historical order trends and staff activity in order to better serve customers with optimized product offerings and staffing levels.</font>
	
	<h3>Information we do <i>not</i> collect</h3>
	<ul>
		<li>Your birthday</li>
		<li>Your location</li>
		<li>Your payment information</li>
		<li>The time/date of orders</li>
		<li>The type of machine from which you are accessing our system</li>
		<li>Your activity on other browsers or applications</li>
		<li>Your search history</li>
	</ul>
	
	<font size ="+0">At this time, we do not use your information to generate targeted advertising or promotions. We only use your information to provide you and management with a historical record of customer order history and staff activity.</font>
	
	<h2>Choice in Data Disclosure</h2>
	If as a customer you do not want your account data and name collected with your order, you can instead choose to order from the Guest page. Ordering as a Guest does not require you to log in or create an account, and thus does not record your name associated with what you order. However, ordering as a Guest limits you from accessing your previous order history.
	<br></br>
	As a staff member, you are required to log in with your provided Staff account as outlined in your employment agreement contract.
	
	<h2>Accessing Your Data</h2>
	As a customer, you can access your stored data under the “View All Orders” Customer home page item. This displays all of your past orders, as well as their status.
	<br></br>
	As a staff member, you can access your stored data under the “Fulfillment Log” Staff home page item. This displays all past orders for the store, including the name of the customer who ordered the beverage and the name of the staff member who fulfilled the order (if applicable).

	<h2>Data Security</h2>
	Data is maintained on a local database server. We do not sell user data or share your data with any third party.

	<h2>Report Concerns</h2>
	If you have any concerns regarding the handling of your data or possible security breaches, contact the CoffeeMaker team at info@coffeemaker.com
	
	<h2>Policy Changes</h2>
	As the CoffeeMaker system grows to accommodate increased demand and deliver cutting-edge features to better serve customers and stores, our Privacy Policy may change to accommodate this growth. Any changes to the Privacy Policy will be updated on this page, and significant changes will be communicated through an additional channel such as pop-up notifications or email. Significant changes or reductions in your individual rights under this privacy policy will be made only with your explicit consent.
	

	
	
	<br></br>
	<i><a href="login.html">Home</a></i>
</body>
</html>