<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>All Orders</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
	<script> 
    /*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('allOrdersCtrl', function($scope, $http) {
			console.log('Hit!');
			
			function updateOrders() {
				$http.get("/api/v1/orderAllString").then(function (response) {
	  				$scope.orders = response.data;
	  			});
				console.log($scope.orders);
			}
			
  			updateOrders();
		});
	/*]]>*/
	</script>

	<div layout:fragment="content" class="generic-container ng-cloak"
		ng-app="myApp" ng-controller="allOrdersCtrl as ctrl">

		<h1>All Orders</h1>

		<div>
			<ul>
				<li ng-repeat="order in orders track by $index">{{order}}</li>
			</ul>
			<br />
			<div ng-if="0 >= orders.length">There are no orders in the
				Coffee Maker.</div>
		
		</div>
		<a href="/staffindex">Home</a>
	</div>



</body>
</html>